<div id="carruselContainers" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carruselContainers" data-slide-to="0" class="active"></li>
    <li data-target="#carruselContainers" data-slide-to="1"></li>
    <li data-target="#carruselContainers" data-slide-to="2"></li>
    <li data-target="#carruselContainers" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <img src="{{img_path}}img_0.jpg" class="d-block w-100 backgroundCarusel" alt="Banner Principal">
      <div class="carousel-caption d-none d-block rounded black">
        <h3 class="pb-4">El único autocine de Costa Rica!!!</h3>
        <p>No arriesgues tu seguridad, en tu vehiculo mantienes tú burbuja social!!!</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{{img_path}}img_1.jpg" class="d-block w-100 backgroundCarusel" alt="Banner Principal">
      <div class="carousel-caption d-none d-block rounded black">
        <h3 class="pb-4">Lo más esperado en Costa Rica!!!</h3>
        <p>Porque queremos revivir lo mejor del pasado y pensando en su seguridad, comodidad y entretenimiento, te traemos un nuevo concepto de entretenimiento:</p>
        <h1 class="pb-4 vegasEff"><b>Autocine</b></h1>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{{img_path}}img_2.jpg" class="d-block w-100 backgroundCarusel" alt="Banner Principal">
      <div class="carousel-caption d-none d-block rounded black">
        <h3>Más cómodo que el cine tradicional</h3>
        <p>Sin romper su burbuja social.</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{{img_path}}img_3.jpg" class="d-block w-100 backgroundCarusel" alt="Banner Principal">
      <div class="carousel-caption d-none d-block rounded black">
        <h3>Próximos estrenos</h3>
        <p>Espera pronto nuestra temporada de terror, tu adrenalina llegará al máximo.</p>
        <p>Recuerda tener tus ventanas cerradas y las puertas con seguro!!!</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{{img_path}}img_4.jpg" class="d-md-block w-100 backgroundCarusel" alt="Banner Principal">
      <img src="assets/images/base/petfriendly.png" class="petFriendly d-none d-md-block" alt="Banner Principal">
      <img src="assets/images/base/petfriendly.png" class="petFriendlysm d-md-none" alt="Banner Principal">
      <div class="carousel-caption d-none d-block rounded black">
        <h3>Completamente Pet Friendly</h3>
        <p>Tus mascotas son siempre bienvenidas.</p>
        <p>Contamos con zonas para que sus mascotas puedan alimentarse y hacer sus necesidades fisiológicas!!!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carruselContainers" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carruselContainers" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
