<!-- <footer class="bg-light"> -->

<!-- </footer> -->
<div class="clear"></div>
<footer class="z-index-10 d-print-none bg-orange_light mt-5">
  <div class="font-weight-light">
    <div class="container">
      <div class="align-items-center row">
        <div class="text-center text-md-left col-md-6">
          <p class="text-sm mb-md-0">© 2020, Proyecto Autocine - Hernan Alberto Castro Paniagua - IIC-2012.</p>
        </div>
        <div class="col-md-6">
          <div class="text-center text-md-right">
            <img src="/assets/images/base/logo.png" alt="..." class="w-2rem">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
