<section class="adminZone py-5">
  <div class="container">
    <nav class="" aria-label="breadcrumb">
      <ol class="breadcrumb pl-0 justify-content-center">
        <li class="breadcrumb-item">
          <a routerLink="/admin">Admin</a>
        </li>
        <li class="active breadcrumb-item" aria-current="page">Listado de productos</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-12 form__cover">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger$">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prods of serverResponse$" id="{{prods.id}}">
              <td class="text-center">
                <img src="{{ img_path + prods.img_src }}" class="prod_list_img" />
              </td>
              <td>{{ prods.name }}</td>
              <td>{{ prods.description }}</td>
              <td>{{ prods.amount | currency: '¢' }}</td>
              <td>{{ (prods.enable == 1 ? 'Visible' : 'Oculto' ) }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm" attr.edit-element-id="{{prods.id}}">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm ml-1" *ngIf="prods.enable == '0'" attr.show-element-id="{{prods.id}}">
                  <i class="fas fa-eye-slash"></i>
                </button>
                <button type="button" class="btn btn-outline-info btn-sm ml-1" *ngIf="prods.enable == '1'" attr.hidden-element-id="{{prods.id}}">
                  <i class="fas fa-eye"></i>
                </button>
                <!-- <button type="button" class="btn btn-outline-danger btn-sm" attr.edit-element-id="{{movs.id}}">
                  <i class="fas fa-trash-alt"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
