<section class="billboard_sec pt-5 pb-5">
  <div class="container">
    <div class="col-sm-12 text-center">
      <h1>Cartelera</h1>
      <h5 class="my-4">Actualmente tenemos para su completo disfrute las siguientes opciones:</h5>
      <ng-container *ngIf="serverResponse">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 mb-3" *ngFor="let splitArr of serverResponse | arrSplit: 4">
          <!-- <app-billboard-card class="col p-2" *ngFor="let bill of splitArr" [bill]="bill"></app-billboard-card> -->
        </div>
      </ng-container>
    </div>
  </div>
</section>
