<section class="topMembers py-5">
  <div class="container">
    <nav class="" aria-label="breadcrumb">
      <ol class="breadcrumb pl-0 justify-content-center">
        <li class="breadcrumb-item">
          <a routerLink="/home">Inicio</a>
        </li>
        <li class="active breadcrumb-item" aria-current="page">Listado de peliculas</li>
      </ol>
    </nav>
    <h2 class="subtitle text-center text-orange_light mb-5">Peliculas</h2>
    <h5 class="my-4 text-white">Actualmente en Cartelera y proximos estrenos: </h5>
  </div>
</section>
<section class="pt-5 pb-4 membersList">
  <div class="container">
    <div class="row">
      <div class="mt-4 h-100 w-100">
        <div class="card h-100 w-100">
          <div class="card-body text-body row">
            <h3>Peliculas mejor votadas...</h3>
            <table id="dtList_3" class="table table-sm mt-2">
              <thead>
                <tr>
                  <th class="per_40 text-center">Producto</th>
                  <th class="per_15 text-center">Votos</th>
                  <th class="per_15 text-center">Calificación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vot of serverResponse_order">
                  <td>{{ vot.name}}</td>
                  <td class="text-center">{{ vot.ranking_count || 0}}</td>
                  <td class="text-center">
                    <div class="content_r">
                      <div [ngClass]="(vot.ranking_sum / vot.ranking_count || 0) >= 1 ? 'rating-select': ''">
                        <span class="fa fa-star rating_movie rating_1"></span>
                      </div>
                      <div [ngClass]="(vot.ranking_sum / vot.ranking_count || 0) >= 2 ? 'rating-select': ''">
                        <span class="fa fa-star rating_movie rating_2"></span>
                      </div>
                      <div [ngClass]="(vot.ranking_sum / vot.ranking_count || 0) >= 3 ? 'rating-select': ''">
                        <span class="fa fa-star rating_movie rating_3"></span>
                      </div>
                      <div [ngClass]="(vot.ranking_sum / vot.ranking_count || 0) >= 4 ? 'rating-select' : ''">
                        <span class="fa fa-star rating_movie rating_4"></span>
                      </div>
                      <div [ngClass]="(vot.ranking_sum / vot.ranking_count || 0) === 5 ? 'rating-select': ''">
                        <span class="fa fa-star rating_movie rating_5"></span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mt-4" *ngFor="let movie of serverResponse">
        <div class="card h-100">
          <div class="card-body text-secondary row">
            <div class="col-md-3">
              <span class="fa-layers fa-fw fa-3x icon-classification" title={{movie.classification.name}}>
                <i class="fas fa-certificate"></i>
                <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900; font-size:1.5em;">{{movie.classification.code}}</span>
              </span>
              <img class="img-thumbnail" [src]="moviesPath+this.movie.img_src" [alt]="movie.name" (mouseover)="showBtns()">
            </div>
            <div class="col-md-9">
              <a href="#" class="card__play">
                <i class="icon ion-ios-play"></i>
              </a>
              <h3 class="card__title my-2">
                <a href="#">{{movie.name}}</a>
              </h3>
              <h6 class="my-2" *ngIf="movie.resume!=''">{{movie.resume}}</h6>
              <p class="text-justify"><em>{{movie.synopsis}}</em></p>
              <div class="row">
                <span class="card__category col-md-4">
                  <span class="badge badge-secondary mr-2" *ngFor="let gender of movie.genres" [attr.data-id]="gender.id">{{gender.name}}</span>
                </span>
                <app-rating class="mb-3 text-body col-md-4" [to_rating]="'movie'" [code]="movie.id" [ranking]="movie.ranking_sum" [votes]="movie.ranking_count"></app-rating>
                <div class="bottomPos col-md-4 text-right">
                  <a *ngIf="movie.facebook_id!='' && movie.facebook_id != null" (click)="goToLink('face', movie)" class="btn btn-facebook text-nowrap mr-1" title="Ir al Facebook">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a *ngIf="movie.instagram_id!='' && movie.instagram_id != null" (click)="goToLink('inst', movie)" class="btn btn-instagram text-nowrap mr-1"
                    title="Ir al Instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a *ngIf="movie.twitter_id!='' && movie.twitter_id != null" (click)="goToLink('twit', movie)" class="btn btn-twitter text-nowrap mr-1" title="Ir al Twitter">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a *ngIf="movie.site!='' && movie.site != null" (click)="goToLink('page', movie)" class="btn btn-info text-nowrap mr-1 text-white" title="Ir al Sitio Web">
                    <i class="fas fa-link"></i>
                  </a>
                </div>
                <div class="mt-0 mb-0 col-12 row ml-0">
                  <div class="col-6 pl-0">
                    <button *ngIf="movie.trailer!=null && movie.trailer!==''" type="button" class="btn btn-outline-success btn-sm w-100" data-target="#movie-preview"
                      (click)="viewTrailer(movie)">
                      <i class="fas fa-film"></i>
                      &nbsp;&nbsp;Ver Trailer
                    </button>
                  </div>
                  <div class="col-6 pr-0">
                    <button *ngIf="movie.teaser!=null && movie.teaser!==''" type="button" class="btn btn-outline-info btn-sm w-100" data-target="#movie-preview"
                      (click)="viewTeaser(movie)">
                      <i class="fas fa-video"></i>
                      &nbsp;&nbsp;Ver Teaser
                    </button>
                  </div>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-outline-primary btn-lg btn-block mt-4" [routerLink]="['/peliculas/', movie.id]">
                    <i class="fas fa-ticket-alt"></i>
                    &nbsp;&nbsp;
                    Ver detalles
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
