<section class="petFriendly_sec pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="assets/images/base/petfriendly.png" class="petFriendly m" alt="Pet Friendly">
      </div>
      <div class="col-sm-8">
        <h2>Tus mascotas son nuestros invitados.</h2>
        <p>Contamos con espacios diseñados especialmente para sus mascotas y con espacios para que los pueda alimentar y que sus mascotas puedan realizar sus necesidades
          fisiológicas. Estos espacios son desinfectados constantemente para evitar contaminación en el ambiente y en sus mascotas.</p>
      </div>
    </div>
  </div>
</section>
