<section class="topMembers py-5">
  <div class="container">
    <nav class="" aria-label="breadcrumb">
      <ol class="breadcrumb pl-0 justify-content-center">
        <li class="breadcrumb-item">
          <a routerLink="/home">Inicio</a>
        </li>
        <li class="active breadcrumb-item" aria-current="page">Acerca de</li>
      </ol>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 mb-4">Un pequeño resumen de nosotros...</h1>
        <div class="row">
          <div class="mx-auto col-xl-8">
            <p class="text-muted">
              Estudiantes ansiosos de aprender, cursando la materia:
            </p>
            <p class="text-muted mb-5">
              <b>Aplicaciones web Utilizando Software Libre ISW-811</b>
            </p>
            <p class="text-muted">
              Buscando presentar un proyecto como mínimo cumpliendo a satisfacción los requisitos establecidos, buscando avanzar más de lo que nos solicitan, no solo por aprobar el
              curso, sino para aprender más de lo que sea posible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5 pb-4 membersList">
  <div class="container">
    <h2 class="subtitle text-center text-orange_light mb-5">Nuestro equipo</h2>
    <div class="row">

      <div class="col-sm-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card border-info mb-3">
          <div class="col-sm-8">
            <div class="p-4">
              <h3 class="mb-0">Hernán Castro</h3>
              <div class="mb-1 text-muted">CEO - Cofunder</div>
              <p class="card-text mb-auto">Apasionado por la tecnología y informática, más de 10 años entre códigos.</p>
              <a href="https://www.linkedin.com/in/alberto87cr/" target="_blank" class="stretched-link">Ver perfil profesional</a>
            </div>
          </div>
          <div class="col-sm-4 p-3 text-center">
            <img src="/assets/images/members/hcastro.jpg" alt="Hernan Castro" class="memberPhoto img-fluid rounded-circle shadow-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><b>Materia:</b> Aplicaciones Web utilizando Software Libre </p>
          <p><b>Profesora:</b> Nathalie Paniagua López</p>
          <p><b>Cuatrimestre:</b> II</p>
        </div>
        <div class="col-sm-6">
          <p><b>Curso:</b> ISW-811</p>
          <p><b>Proyecto final:</b> Sistema para autocinema</p>
          <p><b>Año:</b> 2020</p>
        </div>
      </div>
    </div>
  </div>
</section>
