.not_found .jumbotron {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.not_found .jumbotron img {
  height: 250px;
  width: 250px;
}
